.portifolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  text-align: center; 
}

.portifolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portifolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portifolio__item-image {
  border-radius: 1.9rem;
  overflow: hidden;
  place-items: center;
  height: 15rem;
}

.portifolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portifolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ======================*/
@media screen and (max-width: 1024px) {
  .portifolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}


  /* ========== MEDIA QUERIES (SMALL DEVICES) ======================*/
@media screen and (max-width: 600px) {
  .portifolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}