/* Remova os comentários desnecessários */

header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  text-align: right;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Estilos para o CTA */
.cta {
  margin-top: 5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: left;
}

/* Estilos para as redes sociais no header */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2rem;
  /* Ajustar a margem esquerda */
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* Estilos para a seção "Me" */
.desc__me {
  right: calc(50% - 15rem);
  text-align: start;
  word-break: normal;
  position: relative;
  margin-top: 10%;
  margin-left: 4rem;
}

.me {
  width: 16rem;
  height: 28rem;
  position: absolute;
  top: 50%;
  left: calc(50% - -15rem);
  transform: translateY(-50%);
  margin-top: -2rem;
}

.me>img {
  border-radius: 9rem 9rem;
}

/* Estilos para o ícone de "Scroll Down" */
.scroll__down {
  position: absolute;
  right: -2rem;
  /* Ajustar a margem direita */
  bottom: 3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ======================*/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }

  .me {
    width: 30%;
    height: auto;
    margin-top: -2rem;
    margin-left: 250px;

  }

}

@media screen and (max-width: 780px) {
  .header__container {
    width: 100%;
    padding-bottom: 2rem;
  }

  .me {
    width: 25%;
    height: auto;
    margin-top: -3rem;
    margin-left: 260px;
  }

  .desc__me {
    align-items: center;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .header__socials {
    margin-left: -3rem;
  }


  .cta {
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
    margin-left: -1rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ======================*/
@media screen and (max-width: 600px) {
  .header__container {
    width: 100%;
    padding-bottom: 2rem;
    /* Ajustar o espaçamento entre o header e o about */
  }


  .me {
    width: 32%;
    height: auto;
    margin-top: 8rem;
    margin-left: 80px;
  }

  .me>img {
    border-radius: 8rem;
  }

  .desc__me {
    align-items: center;
    margin-top: 1rem;
    margin-left: -150px;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .cta {
    align-items: center;
    width: 100%;
    justify-content: center;
    /* Centralizar os botões */
    margin: 2rem 0;
    /* Ajustar o espaçamento entre os botões e o texto */
  }

  .header__socials,
  .scroll__down {
    display: flex;
    margin-left: -2rem;
  }
}